/auto-save-list
/*.el
/eln-cache
/elpa
/recentf
/server
/transient
*.userdb
user.yaml
etc/rime-user/installation.yaml
build
projects
/.extension
.dap-breakpoints
/straight
/tree-sitter
.lsp-session-v1
bookmarks
/eaf
org-roam.db
.org-id-locations
/url
/popweb